<form [formGroup]="form">
    <div class="container">
        <mat-card class="card">
            
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Text" formControlName="text" style="height: 100px;"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Font Color" formControlName="font_color">
                    <mat-option *ngFor="let item of fontColors" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input type="color" matInput placeholder="Background Color" formControlName="background_color">
            </mat-form-field>
            
            <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit" (click)="post()">Add</button>
        </mat-card>
    </div>
</form>

<div class="container">
    <mat-card style="background-color: {{form.get('background_color').value}}; color: {{form.get('font_color').value}}" class="card">
            <div style=" width: 100%;">

                <h1>{{form.get('title').value}}</h1>
                
                <div *ngIf="form.get('text').value != null">
                    <br>
                    <p>{{form.get('text').value}}</p>
                </div>
            </div>
    </mat-card>
</div>