mat-form-field{
    width: 100%;
    margin-top: 10px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}
  
.card {
    word-wrap: break-word;
    display: inline-block;
    width: 80%;
    max-width: 80%;
    margin-top: 2%;
}

a{
    display: inline-block;
    margin-top: 2%;
    margin-left: 9.5%;
    color: white;
}